/**** Scroll Indicator ***/

/* Indicator Wrapper */
.scroll-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 4px;
    background: #afafaf;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

/* Progress Indicator - Initial Width to 0%; */
#scrollIndicator {
    width: 0%;
    height: 4px;
    background: rgb(0,36,2);
    background: linear-gradient(270deg, rgb(0, 216, 2) 0%, rgb(8, 105, 37) 35%, rgba(13,255,0,1) 100%)  , rgb(0, 255, 2);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}


.tab-headline {
    position: absolute;
    left: 50%;
    top: 50%;
}
.tab-headline p {
    border: 4px solid rgba(255,255,255,1);
    font-size: 60px;
    color: rgba(255,255,255,1);
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 300;
    margin: 0px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    color: white;
    background:
            linear-gradient(90deg, #0AFF00 50%,#000 0)
            var(--_p,100%)/200% no-repeat;
var(--.tab-headline,100%)/200% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-clip: border-box;
    transition: .7s;
}
.tab-headline p:hover {
    /*
        color: rgba(239,74,74,1);
        border-top-color: rgba(239,74,74,1);
        border-right-color: rgba(239,74,74,1);
        border-bottom-color: rgba(239,74,74,1);
        border-left-color: rgba(239,74,74,1);
    */
    border: 4px solid rgba(55, 55, 55, 0.83);
    cursor: pointer;
    color: #373737;
    transition: 0.6s;
    --_p: 0%;
}



#top-image {
    /**	background:url('https://www.itl.cat/pngfile/big/296-2963070_awesome-blur-free-wallpaper-id-blur-background.jpg') -25px -50px; **/
    background: url("../_assets/Card1/BaseNoir.jpg") -25px +10px;
    position:absolute ;
    top:0;
    width:100%;
    z-index:0;
    height:100%;
    background-size: calc(100% + 50px);
    animation-duration: 0.4s;
    transition: 0.4s;
}
/*
.ImagesPrez1{
    background: url("https://storage-asset.msi.com/global/picture/wallpaper/wallpaper_16568973612ad43093dd4a14b5509890acf9be29cc.jpeg");
}
*/
#top-image2 {
    background:url('https://static.vecteezy.com/ti/photos-gratuite/p1/2317249-lampe-neon-verte-avec-ampoule-symbole-sur-mur-de-brique-avec-espace-copie-gratuit-photo.jpg') -25px +10px;
    position:absolute ;
    top:0;
    width:100%;
    z-index:0;
    height:100%;
    background-size: calc(100% + 50px);
    transition: 0.4s;
}

#top-image3 {
    /**   background:url('https://wallpaperaccess.com/full/622523.jpg') -25px -50px; **/
    background:url("../_assets/Card1/BaseNoir2.jpg") -25px +10px;
    position:absolute ;
    top:0;
    width:100%;
    z-index:0;
    height:100%;
    background-size: calc(100% + 50px);
    transition: 0.4s;
}

#top-image4 {
    /**   background:url('https://wallpaperaccess.com/full/622523.jpg') -25px -50px; **/
    background:url("../_assets/Card1/NoirVertNeon.jpg") -25px +10px;
    position:absolute ;
    top:0;
    width:100%;
    z-index:0;
    height:100%;
    background-size: calc(100% + 50px);
    transition: 0.4s;
}
/***************************************** TEST SLICE foireux ***********************************/
.btn2{
    position: absolute;
    z-index: 12;
    top: 20%;
}

.actif1{
    opacity: 0%;
    transition:1.6s ease-in-out!important;
    animation: actif11 1.6s !important;
}
@keyframes actif11{100%{transform:translate3d(0px,-400px,0)} /********* openTabs vers le haut *********/
    100%  { opacity: 0; }
    90%  { opacity: 0; }
    80%   { opacity: 0; }
    50%   { opacity: 1; }
    20%   { opacity: 1; }
    10%    { opacity: 1; }
    0%    { opacity: 1; }
}

.actif2{
    opacity: 0%;
    transition:1.6s ease-in-out !important;
    animation: actif22 1.6s !important;
}
@keyframes actif22{
    100%{transform:translate3d(0px,400px,0)}
    100%  { opacity: 0; }
    90%  { opacity: 0; }
    80%   { opacity: 0; }
    50%   { opacity: 1; }
    20%   { opacity: 1; }
    10%    { opacity: 1; }
    0%    { opacity: 1; }
}

#imgHaut{
    width: 100%;
    height: 100%;
    animation: imgho 0.9s ease-in-out;
    transition: height 0.9s ease-in-out;
}
@keyframes imgho{0%{transform:translate3d(-10px,-200px,0)}100% {transform:translate3d(0,0,0)}
    0%    { opacity: 0; }
    10%    { opacity: 0; }
    20%   { opacity: 0; }
    50%   { opacity: 0; }
    80%   { opacity: 1; }
    100%  { opacity: 1; }
}

#imgBas{
    width: 100%;
    height: 100%;
    animation: imgba 0.9s ease-in-out;
    transition: height 0.9s ease-in-out;
}
@keyframes imgba{0%{transform:translate3d(10px,
200px,0)}100%{transform:translate3d(0,0,0)}
    0%    { opacity: 0; }
    10%    { opacity: 0; }
    20%   { opacity: 0; }
    50%   { opacity: 0; }
    80%   { opacity: 1; }
    100%  { opacity: 1; }
}

.hide{
    position:absolute;
    z-index: 0;
    opacity: 0%;
    animation: hidee 0.9s ease-in-out;
    animation-duration: 0.9s;
    transition: 0.9s;
}
@keyframes hidee{
    0%    { opacity: 1; }
    10%    { opacity: 1; }
    20%   { opacity: 1; }
    50%   { opacity: 0; }
    80%   { opacity: 0; }
    100%  { opacity: 0; }
}

#tabAbout{
    position: relative;
    z-index: -5;
    background: rgb(19,15,6);
    background: linear-gradient(36deg, rgba(19,15,6,1) 0%, rgba(141,141,141,1) 35%, rgba(128,128,128,1) 74%, rgba(78,78,78,1) 92%);
}

#boutonTabs{
    background-color: transparent;
    border-style:hidden;
    position: absolute;
    top: 75%;
    z-index: 30;
    animation-duration: 1.2s;
    transition: 1.2s;
}

.boutonTabs2{
    background-color: transparent;
    border-style:hidden;
    z-index: 30;
    animation-duration: 1.2s;
    transition: 1.2s;
    opacity: 50%;
    top: 90% !important;
    left: 50%;
}
.boutonTabs2 p{
    animation-duration: 1.2s;
    transition: 1.2s;
    font-size: 15px;
    background-color: #7a7a7a;
    color: white;
}

.boutonTabs2 p:hover{
    background-color: #808080;
    color: white;
}

#imagee{
    width: 100%;
    height: 50%;
}

#imagee p{
    top: 25%;
    max-width: 75%;
    position: fixed;
    left: 11%;
    color: #252524;
    background-color:  rgba(198, 114, 35, 0.89);
    box-shadow: rgba(22, 22, 22, 0.63) 6px 8px 8px;
}
#nohide{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    font-size: 2vw;
    width: 100%;
    text-align: center;
    animation-duration: 1.2s;
    transition: 1.2s;
    z-index: -1;
}

#cont1{
    position: absolute;
    z-index: -6;
    top: 75px;
    left: 20px;
    background-color: rgba(170, 89, 36, 0.89);
    box-shadow: rgba(22, 22, 22, 0.63) 3px 4px 8px;
    width: 200px;
    height: 200px;
    border-radius: 5%;
}
#cont2{
    position: absolute;
    z-index: -2;
    bottom: 85px;
    right: 20px;
    background-color: rgba(170, 89, 36, 0.89);
    box-shadow: rgba(22, 22, 22, 0.63) 4px 4px 4px 4px;
    width: 350px;
    height: 350px;
    border-radius: 5%;
}

#cont3{
    background: url("../_assets/Card1/14.jpg");
    position: absolute;
    z-index: -2;
    height: 100%;
    width: 95%;
    left: 18%;
    opacity: 60%;
}